* {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
body {
  height: 5000px;
}

header {
  position: fixed;
  top: 50px;
  left: 145px;
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* background-color: white;
} */
.vpn p::before {
  content: url(img/fire.svg);
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 6.12px;
}
.vpn span {
  font-weight: 700;
}
.vpn {
  font-size: 20px;
  font-weight: 500;
}

.list {
  width: auto;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
}

.list li {
  margin-left: 40px;
}

.Sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Sign p {
  width: 53px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
}
.btn_sign {
  width: 155px;
  height: 45px;

  border: 1px solid #f53855;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_2 {
  font-size: 16px;
  color: #f53855;
  font-weight: 700;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 207px;
  margin-left: 138px;
}

.main_title {
  margin-top: 40px;
  font-size: 50px;
  font-weight: 500;
  color: #0b132a;
}
.main_title span {
  font-weight: 700;
}
.first_paragraf {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  width: 555px;
  height: auto;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 50px;
}
.btn_1 {
  position: relative;
  width: 250px;
  height: 55px;
  background-color: #f53838;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_btn {
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-align: center;
}
.shadow {
  position: absolute;
  top: 470.06px;
  width: 250px;
  height: 86px;
}
.footer {
  width: 1140px;
  height: 200px;
  margin-top: 145px;
  margin-left: 150px;
  width: 79%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.list_sec {
  display: flex;
  margin-top: 145 px;
}
.people,
.location {
  border-right: 2px solid #eeeff2;
}
.people li {
  width: 53px;
  height: 65px;
  font-size: 25px;
  padding: 70px;
}

.people::before {
  content: url(img/user@2x.svg);
  vertical-align: middle;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: 72.5px 36.5px 72.5px 91px;
}

.location::before {
  content: url(img/location.svg);
  vertical-align: middle;
  align-items: center;
  width: 55px;
  margin-right: 36.5px;
}
.Server::before {
  content: url(img/Server.svg);
  vertical-align: middle;
  align-items: center;
  width: 55px;
  margin-right: 36.5px;
}
.man_text {
  display: flex;
}
.body_m {
  width: 239.87px;
  height: 184.22px;
  position: absolute;
  top: 375.85px;
  left: 847.92px;
}
.head {
  position: absolute;
  width: 92.53px;
  height: 96.46px;
  top: 266.93px;
  left: 935.54px;
}

.head_m {
  position: absolute;
  width: 106.24px;
  height: 112.5px;
  top: 237.66px;
  left: 926.29px;
}

.sh_m {
  position: absolute;
  width: 47.8px;
  height: 59.89px;
  top: 347.29px;
  left: 958.89px;
}
.hand_up {
  position: absolute;
  width: 88.39px;
  height: 163.4px;
  top: 354.64px;
  left: 1063.87px;
}
.laptop {
  position: absolute;
  width: 162px;
  height: 93.76px;
  top: 466.31px;
  left: 1065.76px;
}
.lamp {
  position: absolute;
  width: 135.17px;
  height: 186.64px;
  top: 373.43px;
  left: 1221.83px;
}
.cup {
  position: absolute;
  width: 69.33px;
  height: 59.07px;
  top: 501px;
  left: 756.14px;
}
.diagram {
  position: absolute;
  width: 112.92px;
  height: 82.37px;
  top: 245.16px;
  left: 1181.81px;
}

.n {
  position: absolute;
  width: 69.96px;
  height: 54.56px;
  top: 312.95px;
  left: 814.62px;
}
.player {
  position: absolute;
  width: 75.79px;
  height: 59.1px;
  top: 179.23px;
  left: 1067.69px;
}
.dim {
  position: absolute;
  width: 68.86px;
  height: 108.95px;
  top: 383.63px;
  left: 745.76px;
}
.part_hair {
  position: absolute;
  width: 33.59px;
  height: 22.71px;
  top: 243.61px;
  left: 918.9px;
}
