* {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
.page_box {
  width: 1440px;
  height: 2000px;
  /* margin: 0 auto; */
  justify-content: center;

  border: 1px solid black;
}
.main {
  width: 1140px;
  display: flex;
  margin: 0 auto;
}
header {
  position: fixed;
  z-index: 10;
  width: auto;
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
}

/* background-color: white;
} */
.vpn p::before {
  content: url(img/fire.svg);
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 6.12px;
}
.vpn span {
  font-weight: 700;
}
.vpn {
  font-size: 20px;
  font-weight: 500;
  margin-right: 110px;
}

.list {
  width: auto;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
}

.list li {
  margin-left: 40px;
}

.Sign {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}
.Sign p {
  width: 53px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}
.btn_sign {
  width: 155px;
  height: 45px;
  border: 1px solid #f53855;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_2 {
  font-size: 16px;
  color: #f53855;
  font-weight: 700;
  text-align: center;
}

.container {
  display: flex;
  margin-top: 240px;
}

.text_left {
  width: 555px;
  display: flex;
  flex-direction: column;
}

.main_title {
  width: 555px;

  font-size: 50px;
  font-weight: 500;
  color: #0b132a;
}
.main_title span {
  font-weight: 700;
}
.first_paragraf {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  width: 555px;
  height: auto;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 50px;
}
.btn_1,
.f_btn {
  position: relative;
  z-index: 1;
  width: 250px;
  height: 55px;
  background-color: #f53838;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_btn {
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-align: center;
}
.shadow {
  position: absolute;
  top: 470.06px;
  width: 250px;
  height: 86px;
}
.body_m {
  position: absolute;
  width: 239.87px;
  height: 184.22px;
  top: 375.85px;
  left: 847.92px;
  gap: 0px;
  opacity: 0px;
}
.head {
  position: absolute;
  width: 92.53px;
  height: 96.46px;
  top: 266.93px;
  left: 935.54px;
}

.head_m {
  position: absolute;
  width: 106.24px;
  height: 112.5px;
  top: 237.66px;
  left: 926.29px;
}

.sh_m {
  position: absolute;
  width: 47.8px;
  height: 59.89px;
  top: 347.29px;
  left: 958.89px;
}
.hand_up {
  position: absolute;
  width: 88.39px;
  height: 163.4px;
  top: 356px;
  left: 1063.87px;
}
.laptop {
  position: absolute;
  width: 162px;
  height: 93.76px;
  top: 466.31px;
  left: 1065.76px;
}
.lamp {
  position: absolute;
  width: 135.17px;
  height: 186.64px;
  top: 373.43px;
  left: 1221.83px;
}
.cup {
  position: absolute;
  width: 69.33px;
  height: 59.07px;
  top: 501px;
  left: 756.14px;
}
.diagram {
  position: absolute;
  width: 112.92px;
  height: 82.37px;
  top: 245.16px;
  left: 1181.81px;
}

.n {
  position: absolute;
  width: 69.96px;
  height: 54.56px;
  top: 312.95px;
  left: 814.62px;
}
.player {
  position: absolute;
  width: 75.79px;
  height: 59.1px;
  top: 179.23px;
  left: 1067.69px;
}
.dim {
  position: absolute;
  width: 68.86px;
  height: 108.95px;
  top: 383.63px;
  left: 745.76px;
}
.part_hair {
  position: absolute;
  width: 33.59px;
  height: 22.71px;
  top: 243.61px;
  left: 918.9px;
}
.second_box {
  width: 1140px;
  display: flex;
  margin: 0 auto;
}
.footer {
  margin-top: 128px;
  width: 1139px;
  height: 150px;
  display: flex;
  border: 1px solid black;
}

.people,
.location,
.server {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.people_i,
.location_i,
.server_i {
  width: 55px;
  height: 55px;
}
.people_p,
.location_p,
.server_p {
  width: auto;
  margin-left: 36.5px;
  font-size: 20px;
  color: #4f5665;
  line-height: 30px;
}
b {
  font-size: 25px;
  color: black;
}
.location {
  /* width: auto; */
  /* height: 200px; */
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
  line-height: 126px;
}
